//COLORS
$color-purple: #AD1FEA;
$color-light-blue: #628CFA;
$color-dark-blue: #4661E6;
// $color-darker-blue: #4661E6;
$color-darkest-blue: #3A4374;
$color-gradient-blue: #7AD8FB;
$color-gradient-hex: #E84D70;
$color-gradient-orange: #FBB57A;
$color-white: #FFFFFF;
$color-grey: #F2F4FF;
$color-black: #000000;
$color-hover: #CFD7FF;
$color-background-white: #F2F2F2;
$color-dark-grey: #647196;
$color-off-white: #F7F8FD;
$color-orange: #F49F75;

// BODY
// $body-one: (
//     font-size: 16px,
//     font-family: 'Jost Regular', sans-serif,
//     line-height: 23px
// );
// $body-two: (
//     font-size: 15px,
//     font-family: 'Jost Regular', sans-serif,
//     line-height: 22px
// );
// $body-three: (
//     font-size: 13px,
//     font-family: 'Jost Semibold', sans-serif,
//     line-height: 19px
// );