//COLORS
$color-purple: #AD1FEA;
$color-add-feedback-purple: #C75AF6;
$color-feedback-blue: #647196;
$color-light-blue: #628CFA;
$color-dark-blue: #4661E6;
$color-darkest-blue: #3A4374;
$color-header-blue: #373F68;
$color-edit-blue: #7C91F9;
$color-gradient-blue: #7AD8FB;
$color-gradient-light-blue: #28A7ED;
$color-gradient-hex: #E84D70;
$color-gradient-orange: #FBB57A;
$color-gradient-purple: #A337F6;
$color-white: #FFFFFF;
$color-grey: #F2F4FF;
$color-white-text: #F2F4FE;
$color-black: #000000;
$color-hover: #CFD7FF;
$color-background-white: #F2F2F2;
$color-cream: #FFFDD0;
$color-dark-grey: #647196;
$color-off-white: #F7F8FD;
$color-orange: #F49F75;
$color-planned-orange: #F49F85;
$color-cancel-white: #F2F4FE;
$color-cancel-grey: #656EA3;
$color-delete-red: #D73737;
$color-delete-hover: #E98888;
$color-background-grey: #d3d5d7;
$color-light: white;
$color-dark: #212121;
$color-signal: #fab700;
$color-background: var($color-light);
$color-text: var(--color-dark);
$color-accent: var(--color-signal);

// SIZES
$size-bezel: .5rem;
$size-radius: 4px;

// Breakpoints
$mobile: 480px;
$tablet: 1061px;
$desktop: 1200px;