//COLORS
$color-purple: #AD1FEA;
$color-add-feedback-purple: #C75AF6;
$color-feedback-blue: #647196;
$color-light-blue: #628CFA;
$color-dark-blue: #4661E6;
$color-darkest-blue: #3A4374;
$color-header-blue: #373F68;
$color-edit-blue: #7C91F9;
$color-gradient-blue: #7AD8FB;
$color-gradient-light-blue: #28A7ED;
$color-gradient-hex: #E84D70;
$color-gradient-orange: #FBB57A;
$color-gradient-purple: #A337F6;
$color-white: #FFFFFF;
$color-grey: #F2F4FF;
$color-white-text: #F2F4FE;
$color-black: #000000;
$color-hover: #CFD7FF;
$color-background-white: #F2F2F2;
$color-cream: #FFFDD0;
$color-dark-grey: #647196;
$color-off-white: #F7F8FD;
$color-orange: #F49F75;
$color-cancel-white: #F2F4FE;
$color-cancel-grey: #656EA3;
$color-delete-red: #D73737;
$color-delete-hover: #E98888;

// BODY
// $body-one: (
//     font-size: 16px,
//     font-family: 'Jost Regular', sans-serif,
//     line-height: 23px
// );
// $body-two: (
//     font-size: 15px,
//     font-family: 'Jost Regular', sans-serif,
//     line-height: 22px
// );
// $body-three: (
//     font-size: 13px,
//     font-family: 'Jost Semibold', sans-serif,
//     line-height: 19px
// );