<div class="login-grid-container">
    <div class="login-main-header">
        <div class="title-container">
            <img src="/css/shared/icon-arrow-up-white.svg">
            <input class="detail-back-btn" type="button" value="Go Back" onclick="history.back()">
            <h1>Login</h1>
        </div>
    </div>
    <div class="login-container">
        <div class="inner-container">
            <h1>Login</h1>
            <form id="login-form" class="form login-form" method="POST">
                <label class="input" for="email-login">
                    <input class="input__field" id="email-login" type="text" placeholder=" " />
                    <span class="input__label">Email Address</span>
                </label>
                <label class="input" for="password-login">
                    <input class="input__field" id="password-login" type="text" placeholder=" " />
                    <span class="input__label">Password</span>
                </label>

                {{!-- <div class="form-group-email">
                    <label for="email-login">email:</label>
                    <input class="form-input" type="text" id="email-login" />
                </div>
                <div class="form-group-password">
                    <label for="password-login">password:</label>
                    <input class="form-input" type="password" id="password-login" />
                </div> --}}
                <div class="button-container">
                    <a class="form-group-signup" href="/signup">Create Account</a>
                    <div class="form-group-login">
                        <button class="btn btn-primary" type="submit">login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script src="../js/login.js"></script>