<div class="new-feedback-container">
    <div class="new-feedback-header">
        <form class="feedback-btn">
            <div class="back-container">
                <img src="/css/shared/icon-arrow-left.svg">
                <input class="detail-back-btn" type="button" value="Go Back" onclick="history.back()">
            </div>
        </form>
    <div class="new-feedback-card">
        <img src="/css/shared/icon-plus.svg">
    </div>
</div>

<script src="/js/comment.js"></script>