<div class="roadmap-grid-container">
    <div class="roadmap-main-header">
        <div class="title-container">
            <img src="/css/shared/icon-arrow-up-white.svg">
            <input class="detail-back-btn" type="button" value="Go Back" onclick="history.back()">
            <h1>Roadmap</h1>
        </div>
        <button class="add-feedback-btn" type="submit">
            <a class="add-feedback-link" href="/dashboard/new">+ Add Feedback</a>
        </button>
    </div>
    <div class="roadmap-planned">
        <h2>Planned ({{planned.length}})</h2>
        <p>Ideas prioritized for research</p>
        {{#each planned as |feedback|}}
            {{> planned feedback}}
        {{/each}}
    </div>
    <div class="roadmap-in-progress">
        <h2>In-Progress (3)</h2>
        <p>Currently being developed</p>
        {{#each inProgress as |feedback|}}
            {{> inProgress feedback}}
        {{/each}}
    </div>
    <div class="roadmap-live">
        <h2>Live (1)</h2>
        <p>Released features</p>
        {{#each live as |feedback|}}
            {{> live feedback}}
        {{/each}}
    </div>
</div>