<div class="feedback-detail-container">
    <div class="detail-header">
        <form class="detail-btn">
            <div class="back-container">
                <img src="/css/shared/icon-arrow-left.svg">
                <input class="detail-back-btn" type="button" value="Go Back" onclick="history.back()">
            </div>
            <button class="detail-edit-btn">
                <a class="detail-edit-link" href="/dashboard/edit">Edit Feedback</a>
            </button>
        </form>
    </div>
    <div class="detail-feedback">
        {{> feedback-info feedback}}
    </div>
    <div class="detail-comment-section">
        {{> comments feedback.comments}}
    </div>
    {{#if logged_in}}
        <div class="detail-feedback-card">
            <form class="feedback-card-body comment-form" id="comment-form">
                <label class="form-label">
                    <h3>Add Comment</h3>
                </label>
                <input id="comment" name="comment-body" class="form-input" type="text" placeholder="Type your comment here"/>
                <div class="comment-footer">
                    <p class="characters-left">250 Characters left</p>
                    <button type="submit" class="btn">Post Comment</button>
                </div>
            </form>
        </div>
    {{/if}}
</div>

{{#if logged_in}}
<script src="../js/comment.js"></script>
{{/if}}