*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #FFFDD0; }

body {
  font-family: 'Jost', sans-serif; }
  body h1 {
    font-size: 24px;
    letter-spacing: -0.33px;
    font-weight: bold; }
  body h2 {
    font-size: 20px;
    letter-spacing: -0.25px;
    font-weight: bold; }
  body h3 {
    font-size: 18px;
    letter-spacing: -0.25px;
    font-weight: bold; }
  body h4 {
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: bold; }

.main__sidebar-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 255px;
  height: 137px;
  color: #FFFFFF;
  background-image: linear-gradient(to bottom left, rgba(251, 181, 122, 0.8), #E84D70, #4661E6);
  border-radius: 10px;
  text-align: start;
  margin-bottom: 24px; }
  .main__sidebar-logo h2 {
    margin-top: 62px;
    margin-left: 24px; }
  .main__sidebar-logo p {
    margin-bottom: 24px;
    margin-left: 24px; }

.main__sidebar-category {
  text-align: start;
  width: 255px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 24px; }
  .main__sidebar-category button {
    display: inline-block;
    text-decoration: none;
    background-color: #F2F4FF;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #4661E6;
    margin-left: 24px;
    margin-bottom: 24px; }
    .main__sidebar-category button:hover {
      background-color: #CFD7FF; }
    .main__sidebar-category button:active {
      color: #FFFFFF;
      background-color: #4661E6;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .main__sidebar-category .category-all, .main__sidebar-category .category-ui, .main__sidebar-category .category-ux {
    margin-top: 24px; }

.main__sidebar-roadmap {
  width: 255px;
  background-color: #FFFFFF;
  border-radius: 10px; }
  .main__sidebar-roadmap li::marker {
    width: 0;
    margin-left: 12px; }
  .main__sidebar-roadmap .roadmap__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px; }
  .main__sidebar-roadmap .roadmap__bulletin {
    text-align: start;
    margin-left: 24px;
    margin-bottom: 24px; }
    .main__sidebar-roadmap .roadmap__bulletin ul {
      list-style-position: inside; }
  .main__sidebar-roadmap .container-planned, .main__sidebar-roadmap .container-in-progress, .main__sidebar-roadmap .container-live {
    display: flex;
    justify-content: space-between;
    margin-right: 24px; }
    .main__sidebar-roadmap .container-planned div, .main__sidebar-roadmap .container-in-progress div, .main__sidebar-roadmap .container-live div {
      font-weight: bold; }
  .main__sidebar-roadmap .planned::marker {
    color: #F49F75;
    width: 8px; }
  .main__sidebar-roadmap .in-progress::marker {
    color: #AD1FEA;
    width: 8px; }
  .main__sidebar-roadmap .live::marker {
    color: #628CFA;
    width: 8px; }

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373F68;
  height: 72px;
  border-radius: 10px;
  color: #F2F4FF;
  font-size: 14px;
  gap: 10px; }
  .main-header .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em; }
    .main-header .header-container .light-bulb {
      margin-left: 24px; }
    .main-header .header-container label {
      opacity: 0.75; }
  .main-header .feedback-filter {
    -webkit-appearance: none;
    background-color: #373F68;
    color: #F2F4FF;
    border: none;
    opacity: 0.75;
    margin: 0;
    width: 8em; }
  .main-header .arrow-up {
    width: 10px;
    height: 6px;
    color: #FFFFFF;
    margin: 0; }
  .main-header .add-feedback {
    display: inline-block;
    text-decoration: none;
    background-color: #AD1FEA;
    color: #F2F4FE;
    width: 158px;
    height: 44px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 16px;
    border: none; }
    .main-header .add-feedback:active {
      background-color: #C75AF6; }

.card-feedback {
  height: 151px;
  background-color: #FFFFFF;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .card-feedback .card-feedback-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 151px; }
  .card-feedback .feedback-upvotes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 13px;
    color: #3A4374;
    margin-left: 32px;
    margin-right: 40px;
    width: 40px;
    height: 53px;
    border-radius: 10px;
    background-color: #F2F4FF; }
    .card-feedback .feedback-upvotes:active {
      color: #FFFFFF;
      background-color: #4661E6;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .card-feedback .feedback-upvotes:hover {
      background-color: #CFD7FF; }
    .card-feedback .feedback-upvotes img {
      margin-bottom: 1em; }
  .card-feedback .feedback-body a, .card-feedback .feedback-body p, .card-feedback .feedback-body button {
    margin: 5px auto;
    text-decoration: none; }
  .card-feedback .feedback-body a {
    color: #3A4374; }
  .card-feedback .feedback-body p {
    color: #647196; }
  .card-feedback .feedback-body button {
    text-decoration: none;
    width: 111px;
    height: 30px;
    font-size: 13px;
    border: none;
    color: #4661E6;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #F2F4FF;
    border-radius: 10px; }
  .card-feedback .card-feedback-content {
    display: flex;
    height: 23px;
    border: none;
    margin-right: 32px;
    font-weight: 700;
    background-color: #FFFFFF; }
    .card-feedback .card-feedback-content img {
      margin-right: 12px; }

.comments-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin: 2em; }
  .comments-container h3 {
    margin-bottom: 1em; }
  .comments-container .comments-card {
    margin: 5px;
    width: 666px; }
    .comments-container .comments-card hr {
      background-color: #647196;
      opacity: 0.1;
      margin-bottom: 2em; }
    .comments-container .comments-card .comments-card-body {
      display: flex;
      justify-content: space-between;
      gap: 2em; }
      .comments-container .comments-card .comments-card-body img {
        width: 40px;
        height: 40px;
        border-radius: 50%; }
      .comments-container .comments-card .comments-card-body button {
        text-decoration: none;
        background-color: #FFFFFF;
        color: #4661E6;
        width: 33px;
        height: 19px;
        font-size: 13px;
        font-weight: 600;
        margin-right: 16px;
        border: none; }
        .comments-container .comments-card .comments-card-body button:hover {
          text-decoration: underline; }
      .comments-container .comments-card .comments-card-body .comments-section p {
        margin-bottom: 2em; }
      .comments-container .comments-card .comments-card-body .comments-section .section-header p {
        margin-bottom: 15px;
        color: #647196;
        font-size: 14px;
        line-height: 20px;
        margin-top: 2px;
        font-weight: 400; }
      .comments-container .comments-card .comments-card-body .comments-section .comments-content {
        font-size: 15px; }

.main-sidebar {
  grid-area: sidebar;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column; }

.main-category {
  grid-area: category; }

.main-roadmap {
  grid-area: roadmap; }

.main-header {
  grid-area: header; }

.main-feedback {
  grid-area: feedback; }

.grid-container {
  display: grid;
  grid-template-areas: 'sidebar header header header header' 'sidebar feedback feedback feedback feedback';
  gap: 10px;
  padding: 10px;
  padding-top: 40px; }

.detail-feedback {
  grid-area: feedback; }

.feedback-detail-container {
  display: grid;
  justify-content: center;
  grid-template-areas: 'header' 'feedback' 'comment-section' 'feedback-card';
  gap: 25px;
  padding: 10px;
  padding-top: 40px; }

.detail-header {
  grid-area: header;
  width: 730px;
  height: 44px; }
  .detail-header .detail-btn {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .detail-header .detail-btn .back-container {
      width: 76px; }
      .detail-header .detail-btn .back-container img {
        margin-right: 5px; }
      .detail-header .detail-btn .back-container input {
        text-decoration: none;
        border: none;
        background-color: #FFFDD0;
        font-weight: 700;
        font-size: 14px; }
        .detail-header .detail-btn .back-container input:active {
          text-decoration: underline; }
        .detail-header .detail-btn .back-container input:hover {
          text-decoration: underline; }
    .detail-header .detail-btn .detail-edit-btn {
      text-decoration: none;
      background-color: #4661E6;
      color: #F2F4FE;
      width: 142px;
      height: 44px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 700;
      margin-right: 16px;
      border: none; }
      .detail-header .detail-btn .detail-edit-btn:active {
        background-color: #7C91F9; }

.detail-comment-section {
  grid-area: comment-section;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 730px; }

.detail-feedback-card {
  grid-area: feedback-card;
  display: flex;
  justify-content: start;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 730px; }
  .detail-feedback-card form {
    margin: 2em; }
    .detail-feedback-card form label h3 {
      margin-bottom: 1em; }
    .detail-feedback-card form input {
      width: 664px;
      height: 80px;
      background-color: #F7F8FD;
      border-radius: 5px;
      border: none;
      text-indent: 20px;
      margin-bottom: 27px; }
    .detail-feedback-card form .comment-footer {
      display: flex;
      justify-content: space-between; }
      .detail-feedback-card form .comment-footer p {
        font-weight: 400;
        font-size: 15px;
        color: #647196; }
      .detail-feedback-card form .comment-footer button {
        width: 142px;
        height: 44px;
        background-color: #AD1FEA;
        color: #F2F4FF;
        border-radius: 10px;
        border: none;
        font-weight: 700;
        font-size: 14px; }
        .detail-feedback-card form .comment-footer button:active {
          background-color: #C75AF6; }
