.main__sidebar-category {
    text-align: start;
    width: 255px;
    background-color: $color-white;
    border-radius: 10px;
    margin-bottom: 24px;
    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;

    button {
        display: inline-block;
        text-decoration: none;
        background-color: $color-background-grey;
        padding: 12px;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        color: $color-dark-blue;
        margin-left: 24px;
        margin-bottom: 24px;

        &:hover {
            background-color: $color-hover;
        }

        &:active {
            color: $color-white;
            background-color: $color-dark-blue;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
        }
    }

    .category-all, .category-ui, .category-ux {
        margin-top: 24px;
    }
}

@media screen and (max-width: $tablet) {
    .main__sidebar-category {
        margin-bottom: 0;
    }
}

@media screen and (max-width: $mobile) {
    .main__sidebar-category {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // padding: 10px;
        height: auto;
        margin-right: 12px;

        button {
            width: auto;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 12px;
            font-size: 11px;
        }

        .category-all, .category-ui, .category-ux {
            margin-top: 14px;
        }
    }
}