.card-feedback {
    height: 151px;
    background-color: $color-white;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    .card-feedback-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        height: 151px;
    }

    .feedback-upvotes {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        border: none;
        font-weight: bold;
        font-size: 13px;
        color: $color-darkest-blue;
        margin-left: 32px;
        margin-right: 40px;
        width: 40px;
        height: 53px;
        border-radius: 10px;
        background-color: $color-background-grey;

        &:active {
            color: $color-white;
            background-color: $color-dark-blue;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
        }

        &:hover {
            background-color: $color-hover;
        }

        img {
            margin-bottom: 1em;
        }
    }

    .feedback-body {

        a, p, button {
            margin: 5px auto;
            text-decoration: none;
        }

        a {
            color: $color-darkest-blue;
        }

        p {
            color: $color-feedback-blue;
        }

        button {
            text-decoration: none;
            width: 111px;
            height: 30px;
            font-size: 13px;
            border: none;
            color: $color-dark-blue;
            font-weight: 600;
            text-transform: capitalize;
            background-color:$color-background-grey;
            border-radius: 10px;
        }
    }

    .card-feedback-content {
        display: flex;
        height: 23px;
        border: none;
        margin-right: 32px;
        font-weight: 700;
        background-color: $color-white;

        img {
            margin-right: 12px;
        }
    }
}

@media screen and (max-width: $mobile) {
    .card-feedback {
        // margin: 24px;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border-radius: 0;
        // width: 326px;
        width: 100vw;

        .feedback-upvotes {
            width: 35px;
            height: 50px;
            font-size: 11px;
        }

        .feedback-body {
            margin-top: 10px;
            width: 190px;
    
            h3 {
                font-size: 13px;
            }

            p {
                font-size: 13px;
            }

            button {
                font-size: 11px;
            }
        }
    }

    .card-feedback-container {
        display: flex;
        flex-direction: column;
    }
}