.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-header-blue;
    height: 72px;
    border-radius: 10px;
    color: $color-grey;
    font-size: 14px;
    gap: 10px;

    .header-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2em;

        .light-bulb {
            margin-left: 24px;
        }

        label {
            opacity: 0.75;
        }
    }

    .feedback-filter {
        -webkit-appearance: none;
        background-color: $color-header-blue;
        color: $color-grey;
        border: none;
        opacity: 0.75;
        margin: 0;
        width: 8em;
    }

    .arrow-up {
        width: 10px;
        height: 6px;
        color: $color-white;
        margin: 0;
    }

    .add-feedback {
        display: inline-block;
        background-color: $color-purple;
        width: 158px;
        height: 44px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 700;
        margin-right: 16px;
        border: none;

        a {
            text-decoration: none;
            color: $color-white-text;
        }

        &:active {
            background-color: $color-add-feedback-purple;
        }
    }

    .login {
        display: inline-block;
        background-color: $color-dark-blue;
        width: 100px;
        height: 44px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 700;
        margin-right: 1em;
        border: none;

        a {
            text-decoration: none;
            color: $color-white-text;
        }

        &:active {
            background-color: $color-add-feedback-purple;
        }
    }

    .logout {
        display: inline-block;
        background-color: $color-dark-blue;
        width: 100px;
        height: 44px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 700;
        margin-right: 1em;
        border: none;

        a {
            text-decoration: none;
            color: $color-white-text;
        }

        &:active {
            background-color: $color-add-feedback-purple;
        }
    }
}

@media screen and (max-width: $tablet) {
    .main-header {
        margin-bottom: 0;
    }
}