.main__sidebar-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 255px;
    height: 137px;
    color: $color-white;
    background-image: linear-gradient(to bottom left, rgba($color-gradient-orange, 0.8,), $color-gradient-hex, $color-dark-blue);
    border-radius: 10px;
    text-align: start;
    margin-bottom: 24px;

    h2 {
        margin-top: 62px;
        margin-left: 24px;
    }
    
    p {
        margin-bottom: 24px;
        margin-left: 24px;
    }
}

@media screen and (max-width: $tablet) {
    .main__sidebar-logo {
        height: 213px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: $mobile) {
    .main__sidebar-logo {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 72px;
        border-radius: 0;
        z-index: 2;

        .main-title {
            margin-left: 15px;
        }
        
        h2 {
            margin-top: 33px;
            font-size: 15px;
        }

        p {
            font-size: 13px;
            font-weight: 500;
        }
    }

    .burger-menu {
        width: 20px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 44px;
    }
    
    .burger-menu-line {
        width: 100%;
        height: 3px;
        background-color: $color-white;
        margin: 1px;
        border-radius: 20px;
        transition: transform 0.3s ease;
    }

    .burger-menu.active .burger-menu-line {
        transform: scale(0.8);
        height: 5.3px;
    }

    .burger-menu-line.middle {
        transition-delay: 0.15s;
    }
    
    .burger-menu.active .burger-menu-line.middle {
        opacity: 0;
    }

    .burger-menu.active .burger-menu-line.top {
        transform: translateY(calc(8px - 0.5 * 3px)) scale(0.8) rotate(45deg);
    }
    
    .burger-menu.active .burger-menu-line.bottom {
        transform: translateY(calc(-8px + 0.5 * 3px)) scale(0.8) rotate(-45deg);
    }
}