.reply-card {
    margin: 5px;
    width: 626px;
    margin-left: 50px;

    hr {
        background-color: $color-dark-grey;
        opacity: 0.1;
        margin-bottom: 2em;
    }

    .reply-card-body {
        display: flex;
        justify-content: flex-end;
        gap: 2em;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        button {
            align-items: end;
            text-decoration: none;
            background-color: $color-white;
            color: $color-dark-blue;
            width: 33px;
            height: 19px;
            font-size: 13px;
            font-weight: 600;
            margin-right: 16px;
            border: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .reply-section {
            width: 594px;

            p {
                margin-bottom: 2em;
            }

            .section-header {

                p {
                    margin-bottom: 15px;
                    color: $color-dark-grey;
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 2px;
                    font-weight: 400;
                }
            }

            .reply-content {
                font-size: 15px;
                display: block;
            }
        }
    }

    .reply-content-mobile {
        display: none;
    }
}


@media screen and (max-width: $mobile) {
        .reply-card {
            width: 280px;
            .reply-card-body {
                .reply-section {
                    .reply-content {
                        font-size: 15px;
                        display: none;
                    }
            }
        }
        .reply-content-mobile {
            font-size: 13px;
            display: block;
            height: 95px;
        }
    }
}