body {
    font-family: 'Jost', sans-serif;

    h1 {
        font-size: 24px;
        letter-spacing: -0.33px;
        font-family: 'Jost Bold', sans-serif;
    }

    h2 {
        font-size: 20px;
        letter-spacing: -0.25px;
        font-family: 'Jost Bold', sans-serif;
    }

    h3 {
        font-size: 18px;
        letter-spacing: -0.25px;
        font-family: 'Jost Bold', sans-serif;
    }

    h4 {
        font-size: 14px;
        letter-spacing: -0.2px;
        font-family: 'Jost Bold', sans-serif;
    }
}