.detail-feedback { grid-area: feedback; width: 730px;};

.feedback-detail-container {
    display: grid;
    justify-content: center;
    grid-template-areas:
        'header'
        'feedback'
        'comment-section'
        'feedback-card';
    gap: 25px;
    padding: 10px;
    padding-top: 40px;
}

.detail-header {
    grid-area: header;
    width: 730px;
    height: 44px;

    .detail-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .back-container {
            width: 76px;

            img {
                margin-right: 5px;
            }

            a {
                text-decoration: none;
                border: none;
                background-color: $color-background-grey;
                font-weight: 700;
                font-size: 14px;

                &:active {
                    text-decoration: underline;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .detail-edit-btn {
            background-color: $color-dark-blue;
            width: 142px;
            height: 44px;
            border-radius: 10px;
            margin-right: 16px;

            a {
                color: $color-white-text;
                font-size: 14px;
                font-weight: 700;
                border: none;
                text-decoration: none;
            }

            &:active {
                background-color: $color-edit-blue;
            }
        }
    }
}

.detail-comment-section {
    grid-area: comment-section;
    display: flex;
    justify-content: center;
    background-color: $color-white;
    border-radius: 10px;
    width: 730px;
}

.detail-feedback-card {
    grid-area: feedback-card;
    display: flex;
    justify-content: start;
    background-color: $color-white;
    border-radius: 10px;
    width: 730px;
    margin-bottom: 129px;
    
    form {
        margin: 2em;

        label {
            h3 {
                margin-bottom: 1em;
            }
        }

        input {
            width: 664px;
            height: 80px;
            background-color: $color-off-white;
            border-radius: 5px;
            border: none;
            text-indent: 20px;
            margin-bottom: 27px;
        }

        .comment-footer {
            display: flex;
            justify-content: space-between;

            p {
                font-weight: 400;
                font-size: 15px;
                color: $color-dark-grey;
            }

            button {
                width: 142px;
                height: 44px;
                background-color: $color-purple;
                color: $color-grey;
                border-radius: 10px;
                border: none;
                font-weight: 700;
                font-size: 14px;

                &:active {
                    background-color: $color-add-feedback-purple;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .detail-feedback { grid-area: feedback; width: 0;};

    .feedback-detail-container {
        display: grid;
        justify-content: revert;
        grid-template-areas:
            'header'
            'feedback'
            'comment-section'
            'feedback-card';
        gap: 25px;
        padding: 0;
        padding-top: 10px;
    }

    .detail-header {
        grid-area: header;
        width: 100vw;

        .detail-btn {
            .back-container {
                margin-left: 15px;
            }
            .detail-edit-btn {
                width: 119px;
                height: 40px;
    
                a {
                    font-size: 13px;
                    font-weight: 700;
                }
    
                &:active {
                    background-color: $color-edit-blue;
                }
            }
        }
    }

    .detail-comment-section {
        width: 100vw;
    }

    .detail-feedback-card {
        height: 234px;
        width: 100vw;

        form {
            input {
                width: 320px;
            }
        }
    }
    .detail-feedback-card {
        .feedback-card-body {
            .comment-footer {
                align-items: center;

                p {
                    font-weight: 400;
                    font-size: 13px;
                    color: $color-dark-grey;
                }

                button {
                    width: 119px;
                    height: 40px;
                    font-size: 13px;
                }
            }
        }
    }
}