.main-sidebar { 
    grid-area: sidebar;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
};

.main-category { grid-area: category;}
.main-roadmap { grid-area: roadmap}
.main-header { grid-area: header; margin-right: 75px;}
.main-feedback { grid-area: feedback; margin-right: 75px;}

.main-no-feedback { 
    grid-area: feedback;
    background-color: white;
    height: 600px;
    margin-top: 12px;
    border-radius: 10px;
    margin-right: 75px;
    
    .no-feedback-container {
        display: flex;
        justify-content: center;

        .content {
            height: 379px;
            width: 410px;
            margin-top: 111px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                margin-bottom: 53px;
            }

            h1 {
                margin-bottom: 16px;
            }

            p {
                margin-bottom: 46px;
            }

            button {
                display: inline-block;
                background-color: $color-purple;
                width: 158px;
                height: 44px;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 700;
                margin-right: 16px;
                border: none;
        
                a {
                    text-decoration: none;
                    color: $color-white-text;
                }
        
                &:active {
                    background-color: $color-add-feedback-purple;
                }
            }
        }
    }
};

.grid-container {
    display: grid;
    grid-template-areas:
        'sidebar header header header header'
        'sidebar feedback feedback feedback feedback';
    gap: 15px;
    padding: 10px;
    padding-top: 40px;
}

@media screen and (max-width: $tablet) {
    .main-sidebar { 
        grid-area: sidebar;
        display: flex; 
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 20px;

        .side-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10px;
        }
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'sidebar'
            'header'
            'feedback';
        gap: 10px;
        padding: 10px;
        padding-top: 40px;
        justify-content: center;
    }

    .main-no-feedback {
        margin-right: 0;
    }

    .main-header { 
        margin-right: 0;
    }

    .main-feedback { 
        margin-right: 0;
    }
}

@media screen and (max-width: $mobile) {
    .main__sidebar-category,
    .main__sidebar-roadmap,
    .header-icon,
    .header-suggestions {
        display: none;
    }

    .active {
        display: block !important;
    }

    .main-sidebar { 
        margin-bottom: 0;
        gap: 0;
    }

    .grid-container {
        gap: 0;
        padding-top: 0;
        padding: 0;
        width: 100%;
        justify-content: revert;
    }

    .side-menu {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100%;
        background-color: $color-background-grey;
        z-index: 1;
        transition: right 0.3s ease-in-out;
    }
    
    .side-menu.show {
        flex-direction: column;
        right: 0;
    }

    .main-no-feedback {
        border-radius: 0;
        margin-top: 0;
        width: 100%;
        height: 100vh;

        .no-feedback-container {
            .content {
                text-align: center;
                width: 278px;
                margin-top: 50px;

                h1 {
                    font-size: 18px;
                }

                p {
                    font-size: 13px;
                    color: $color-dark-grey;
                }

                button {
                    width: 134px;
                }
            }
        }
    }
}