.main-sidebar { 
    grid-area: sidebar;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
};
.main-category { grid-area: category;};
.main-roadmap { grid-area: roadmap};
.main-header { grid-area: header;};
.main-feedback { grid-area: feedback;};

.grid-container {
    display: grid;
    grid-template-areas:
        'sidebar header header header header'
        'sidebar feedback feedback feedback feedback';
    gap: 10px;
    padding: 10px;
    padding-top: 40px;
}

